<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<nav th:fragment="navbar" class="bg-primary container-fluid" data-bs-theme="dark">
  <div class="container-fluid d-flex justify-content-between">
    <div class="d-flex">
      <a class="p-3 text-light text-decoration-none fw-bold" th:href="@{/}">Main Page</a>
      <a sec:authorize-url="/publication" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/publication}">Publications</a>
      <a sec:authorize-url="/publication/add" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/publication/add}">Add publication</a>
      <a sec:authorize-url="/kategorie" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/category/add}">Add category</a>
    </div>
    <div class="d-flex">
      <a sec:authorize="isAnonymous()" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/user/login}">Login</a>
      <a sec:authorize="isAnonymous()" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/user/register}">Register</a>
      <a sec:authorize="!isAnonymous()" class="p-3 text-light text-decoration-none fw-bold" th:href="@{/user/logout}">Logout</a>
    </div>
  </div>
</nav>

</body>
</html>
